.loginHolder {
    border-radius: 0;
    margin: auto;
    max-width: 300px;
    padding: 0;
    width: 90%;
    text-align: center;
    margin-top: 35vh;
}

.loginBoxHolder {
    padding: 5% 4%;
}

.loginScreenBack {
    background-image: url('../res/MapBackground.png');
    background-size: cover;
    opacity: 1.0;
    height: 100vh;
}